.skills {
    text-align: center;
    color: #fff;
}

.skills ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills li {
    background: #eee;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.skills li:hover {
    background: #ddd;
}

.skills img {
    height: 84px;
}